 html, body {
  background-color: 	#ffffff;

}

@font-face { font-family: 'tomato'; src: url('fonts/tomato.ttf') format ('ttf'); } 
.footer {
background-color: 	#000000;	
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: tomato;
}

#header_img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
#defaultCanvas0 {
	display: none;
}